@import 'global';
@import 'layout';
@import 'components/toolbar';
@import 'components/message-form';
@import 'components/messages';
@import 'components/global-warning';
@import 'components/keyboard';


.offline-message {
  display: flex;
  flex-flow: column;
  height: 100%;
  fill: #d8d8d8;
  text-align: center;
  color: #ababab;
  font-size: 9.3vw;
  line-height: 1;
  font-weight: bold;
  justify-content: center;
  
  & .offline-icon {
    width: 91%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  & div {
    margin-bottom: 50px;
  }
}